<div class="center top-pad">
  <h1>Dear Weather</h1>
  <h2>Get Weather Anywhere</h2>
</div>

<%= form_with url: get_weather_url, method: :get do |form| %>
  <%= form.label :query, "Enter a location:" %>
  <%= form.text_field :query %>
  <%= form.submit "Get Weather" %>
<% end %>

<% if @weather %>
  <h3>Current Weather for <%= @weather[0] %></h3>
  <% if @cached %>
    <h4>Cached</h4>
    <p>This report is about <%= weather_age(@weather) %> minutes old.</p>
  <% end %>

  <%= image_tag(@weather[6]) %>
  <p>Current Conditions <%= @weather[7] %></p>
  <p>Temperature <%= @weather[1] %> F</p>
  <p>Feels Like <%= @weather[3] %> F</p>
  <p>Pressure <%= @weather[2] %> inHg</p>
  <p>Wind <%= @weather[4][0] %> knots at <%= @weather[4][1] %> degrees</p>
  <p>Clouds <%= @weather[5] %>%</p>
  <p>Low Today <%= @weather[9] %> F</p>
  <p>High Today <%= @weather[10] %> F</p>

<% end %>

